/* Universal Styles */

html {
  font-family: "Helvetica",sans-serif;
  font-size: 18px;
  background-color: white;
}

body {
  line-height: 1.4;
}


/* Header Styles */
header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid grey;
  height: 64px;
}

header .content {
  display: flex;
  align-items: center;
  padding: 1.2575rem;
}

header .logo {
  display: flex;
  flex: 1;
  align-items: center;
}

header .logo img{
  height: 32px;
  margin-right: 2px;
}

header #logocolor{
  color: grey;
}

header .logo span {
  letter-spacing: .75px;
}

header nav ul {
  display: flex;
}

nav li {
  padding-right: 3.5rem;
}

nav a {
  line-height: 1.6;
  text-decoration: none;
  color: black;
  margin-right: 16px;
  font-size: .85rem;

}

header .mobile {
  display: none;
}


@media only screen and (max-width: 700px) {
  header .desktop,
  header .logo{
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: 1.2575rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

  header .mobile .button {
    padding: .1875rem .5rem;
    background-color: #9dc20b;
    line-height: 1.6;
    color: white;
  }
}

/* Banner */

.banner {
  display:flex;
  padding-top: 64px;
  background-color: lightgrey;
  width: 100%;

}

.banner img {
  display: flex;
  width: 60%;
  height: 80%;
  margin: 32px 24px;
}

.banner .banner-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.banner-info h1 {
  font-size: 40px;
  font-weight: bold;
  width: 80%;
  margin: 0 0 32px 24px;
  line-height: 1;
}

.banner-info h3 {
  font-size: 18px;
  font-weight: bold;
  width: 80%;
  margin: 0 0 40px 24px;
  line-height: 1;
}


.start-button {
  background-color: darkgrey;
  padding: 8px;
  width: 80%;
  text-align: center;
  font-size: 18px;
  margin-left: 24px;
}

.start-button:hover{
    background-color: black;
    transition: background-color 1.0s ease-in 1.5ms;
}

.start-button a{
  text-decoration: none;
  color: white;
}


@media only screen and (max-width: 700px) {

  .banner{
    display: block;
  }

  .banner img {
    width: 100%;
    margin: 0;
    height: 10%;
  }

  .banner-info h1{
    font-size: 35px;
    margin: 32px 16px;
  }

  .banner-info h3{
    margin-left: 16px;
    margin-bottom: 24px;
  }

  .start-button {
    align-self: center;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 32px;
  }
}


/* Main Overview Style */

.main-overview .mobile-image{
  display: none;
}

.main-overview{
  display: flex;
  justify-content: space-between;
}

.main-story{
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
  width: 68%;

}

.main-story h1{
  padding: 32px 0;
  font-weight: bold;
  font-size: 35px;
}

.main-story h1:hover{
  font-size: 40px;
  transition: font-size 1.5s ease-in 1.0ms;
}

.main-story h6{
  font-size: 14px;
  padding: 32px 0;
}

.main-story p{
  font-size: 14px;
}

.main-story img {
  display: flex;
  width: 100%;

}

.small-stories {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 32px 24px;
}


.story {
  display: flex;
  align-items: center;
}

.story img{
  width: 40%;
  height: auto;
  padding-bottom: 32px;
  padding-right: 16px;
}

.story-info {
  display: block;
  width: 60%;
  padding: 8px;
}

.story h3{
  font-weight: bold;
  font-size:20px;
}

.story p{
  font-size:12px;
}

.story a{
  color: mediumblue;
  text-decoration: none;
  font-size:12px;
}

@media only screen and (max-width: 700px) {

  .main-story{
    display: none;
  }

  .desktop-image{
    display: none;
  }

  .main-overview .mobile-image{
    display: block;
    width: 100%;
  }

  .story{
    display: block;
    width: 100%;
  }

  .small-stories{
    display: block;
    width: 100%;
    padding: 32px 16px;
  }

}
